Client_WinPhone/Client_WinPhone/Service References/ServFeed/Feed1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61005/Services/Feed.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerRss.Tools" />
  <xs:import schemaLocation="http://localhost:61005/Services/Feed.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServerRss.Services" />
  <xs:element name="AddFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerRss.Tools" minOccurs="0" name="AddFeedResult" nillable="true" type="q1:Resultat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerRss.Tools" minOccurs="0" name="GetFeedsResult" nillable="true" type="q2:ResultatOfArrayOfChannelDataxs063O9k" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFeeds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerRss.Tools" minOccurs="0" name="GetAllFeedsResult" nillable="true" type="q3:ResultatOfArrayOfChannelDataxs063O9k" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_key" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerRss.Services" minOccurs="0" name="chan" nillable="true" type="q4:ChannelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServerRss.Tools" minOccurs="0" name="DeleteFeedResult" nillable="true" type="q5:Resultat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServerRss.Services" minOccurs="0" name="chan" nillable="true" type="q6:ChannelData" />
        <xs:element minOccurs="0" name="session_key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServerRss.Tools" minOccurs="0" name="GetItemResult" nillable="true" type="q7:ResultatOfArrayOfItemDataxs063O9k" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="session_key" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServerRss.Services" minOccurs="0" name="item" nillable="true" type="q8:ItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServerRss.Tools" minOccurs="0" name="ReadItemResult" nillable="true" type="q9:Resultat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServerRss.Services" minOccurs="0" name="chan" nillable="true" type="q10:ChannelData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServerRss.Tools" minOccurs="0" name="UpdateResult" nillable="true" type="q11:Resultat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>