Client_outlook/Client_outlook/Service References/ServFeed/Feed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Feed" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61005/Services/Feed.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61005/Services/Feed.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61005/Services/Feed.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerRss.Tools" />
      <xsd:import schemaLocation="http://localhost:61005/Services/Feed.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServerRss.Services" />
      <xsd:import schemaLocation="http://localhost:61005/Services/Feed.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Feed_AddFeed_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFeed" />
  </wsdl:message>
  <wsdl:message name="Feed_AddFeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFeedResponse" />
  </wsdl:message>
  <wsdl:message name="Feed_GetFeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeeds" />
  </wsdl:message>
  <wsdl:message name="Feed_GetFeeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="Feed_GetAllFeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFeeds" />
  </wsdl:message>
  <wsdl:message name="Feed_GetAllFeeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="Feed_DeleteFeed_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFeed" />
  </wsdl:message>
  <wsdl:message name="Feed_DeleteFeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFeedResponse" />
  </wsdl:message>
  <wsdl:message name="Feed_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="Feed_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="Feed_ReadItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadItem" />
  </wsdl:message>
  <wsdl:message name="Feed_ReadItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadItemResponse" />
  </wsdl:message>
  <wsdl:message name="Feed_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="Feed_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="Feed">
    <wsdl:operation name="AddFeed">
      <wsdl:input wsaw:Action="http://tempuri.org/Feed/AddFeed" message="tns:Feed_AddFeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Feed/AddFeedResponse" message="tns:Feed_AddFeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeeds">
      <wsdl:input wsaw:Action="http://tempuri.org/Feed/GetFeeds" message="tns:Feed_GetFeeds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Feed/GetFeedsResponse" message="tns:Feed_GetFeeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFeeds">
      <wsdl:input wsaw:Action="http://tempuri.org/Feed/GetAllFeeds" message="tns:Feed_GetAllFeeds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Feed/GetAllFeedsResponse" message="tns:Feed_GetAllFeeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFeed">
      <wsdl:input wsaw:Action="http://tempuri.org/Feed/DeleteFeed" message="tns:Feed_DeleteFeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Feed/DeleteFeedResponse" message="tns:Feed_DeleteFeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="http://tempuri.org/Feed/GetItem" message="tns:Feed_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Feed/GetItemResponse" message="tns:Feed_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadItem">
      <wsdl:input wsaw:Action="http://tempuri.org/Feed/ReadItem" message="tns:Feed_ReadItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Feed/ReadItemResponse" message="tns:Feed_ReadItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/Feed/Update" message="tns:Feed_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Feed/UpdateResponse" message="tns:Feed_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Feed" type="tns:Feed">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFeed">
      <soap:operation soapAction="http://tempuri.org/Feed/AddFeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeeds">
      <soap:operation soapAction="http://tempuri.org/Feed/GetFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFeeds">
      <soap:operation soapAction="http://tempuri.org/Feed/GetAllFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFeed">
      <soap:operation soapAction="http://tempuri.org/Feed/DeleteFeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://tempuri.org/Feed/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadItem">
      <soap:operation soapAction="http://tempuri.org/Feed/ReadItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Feed/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Feed">
    <wsdl:port name="BasicHttpBinding_Feed" binding="tns:BasicHttpBinding_Feed">
      <soap:address location="http://localhost:61005/Services/Feed.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>