Client_outlook/Client_outlook/app.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configSections">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sectionGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="section">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="allowExeDefinition" type="xs:string" use="required" />
                        <xs:attribute name="requirePermission" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.serviceModel">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bindings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="basicHttpBinding">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="binding">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="client">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="endpoint">
                      <xs:complexType>
                        <xs:attribute name="address" type="xs:string" use="required" />
                        <xs:attribute name="binding" type="xs:string" use="required" />
                        <xs:attribute name="bindingConfiguration" type="xs:string" use="required" />
                        <xs:attribute name="contract" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="userSettings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Client_outlook.Properties.Settings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="setting">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" />
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="serializeAs" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>